<!DOCTYPE html>
<html lang="en">
  <head>
    <title>For Naji and Lea</title>
  </head>

  <body style="margin: 0; padding: 0; box-sizing: border-box">
    <div style="display: flex; justify-content: space-between ; align-items: center ">
      <div style="background: red; height: 100vh; width: 25vw"></div>

      <div style="display: flex ; flex-direction: column ; align-items: center ;justify-content: center; font-size: 2rem">
        Processing Time for Visitor Visa is :
        <div style="color: red; font-size: 4rem;">#{data}</div>
     
         <div>Next Update</div>
        <div style="color: red; font-size: 3rem;">#{update} in (#{remainingDays}) days</div>
      </div>

      <div style="background: red; height: 100vh; width: 25vw"></div>
   
    </div>
      <script src="client.js"></script>
  </body>
</html>
